.advantages-list {
  @include clear-lists-style;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @media (max-width: $desktop-width) {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.advantages-list__element {
  box-sizing: border-box;
  min-height: 300px;
  padding-top: 42px;
  padding-bottom: 49px;
  padding-right: 42px;
  padding-left: 44px;
  background-color: $layout-white;
  border: 1px solid $custom-grey;
  border-left: 3px solid $layout-blue;

  h3 {
    font-family: $extra-font;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: $layout-blue;
    margin-top: 16px;
    margin-bottom: 15px;
  }

  p {
    font-family: $default-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $layout-grey;
    margin: 0;
  }

  &:hover {
    background-color: $layout-blue;

    h3 {
      color: $layout-white;
    }

    p {
      color: $layout-white;
    }

    .advantages-list__svg {
      fill: $layout-white;
    }
  }

  @media (max-width: $desktop-width) {
    min-height: auto;
    height: auto;
    padding: 22px;
    padding-left: 24px;
    padding-right: 20px;

    h3 {
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }

  @media (max-width: $tablet-width) {
    min-height: 232px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 12px;

    h3 {
      margin-top: 10px;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.advantages-list__element--exept {
  @media (max-width: $tablet-width) {
    min-height: 232px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 7px;
  }
}

.advantages-list__svg {
  fill: $layout-blue;
  width: 35px;
  height: 35px;

  @media (max-width: $desktop-width) {
    width: 32px;
    height: 32px;
  }
}


.advantages-list__svg--clock {
  width: 29px;
  height: 35px;

  @media (max-width: $desktop-width) {
    width: 29px;
    height: 36px;
  }
}

.advantages-list__svg--detective {
  width: 36px;
  height: 31px;

  @media (max-width: $desktop-width) {
    width: 30px;
    height: 26px;
  }
}
