.common-form {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
    margin-bottom: 50px;
    font-family: $default-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $layout-white;
  }

  @media (max-width: $desktop-width) {
    p {
      margin-bottom: 53px;
    }
  }

  @media (max-width: $tablet-width) {
    p {
      margin-bottom: 27px;
    }
  }
}

.common-form__fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  border: none;
  margin: 0;
  padding: 0;

  input {
    box-sizing: border-box;
    width: 270px;
    border: none;
    border-radius: 0%;
    background-color: rgba($color: $layout-white, $alpha: 0.1);
    padding-top: 14px;
    padding-bottom: 18px;
    padding-right: 16px;
    padding-left: 16px;
    color: $layout-white;

    &:hover {
      outline: 2px solid $layout-black;
    }

    &::placeholder {
      font-family: $default-font;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $layout-white;
    }

    @media (max-width: $desktop-width) {
      width: 280px;
    }

    @media (max-width: $tablet-width) {
      width: 100%;
    }
  }

  textarea {
    box-sizing: border-box;
    width: 100%;
    max-width: 570px;
    border-radius: 0%;
    resize: none;
    border: none;
    background-color: rgba($color: $layout-white, $alpha: 0.1);
    padding-top: 14px;
    padding-bottom: 18px;
    padding-right: 16px;
    padding-left: 16px;
    color: $layout-white;

    &:hover {
      outline: 2px solid $layout-black;
    }

    &::placeholder {
      font-family: $default-font;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $layout-white;
    }

    @media (max-width: $desktop-width) {
      max-width: 590px;
    }
  }

  .common-form__wrapper {
    margin-bottom: 38px;

    @media (max-width: $desktop-width) {
      margin-bottom: 42px;
    }

    @media (max-width: $tablet-width) {
      margin-bottom: 30px;

      & textarea {
        height: 7em;
      }
    }
  }

  .common-form__wrapper--textarea {
    @media (max-width: $tablet-width) {
      margin-bottom: 22px;
    }
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.common-form__wrapper--textarea {
  width: 100%;
}

.common-form__sender {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {
    flex-direction: column-reverse;
  }
}

.common-form__custom-box {
  display: block;
  position: relative;
  width: 230px;
  padding-left: 40px;
  font-family: $default-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $layout-white;
  opacity: 0.8;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 7px;
    width: 16px;
    height: 16px;
    border: 1px solid $layout-white;
  }

  @media (max-width: $desktop-width) {
    width: 240px;
  }

  @media (max-width: $tablet-width) {
    width: auto;
    padding-left: 35px;

    &::before {
      left: 0;
    }
  }
}

.common-form__button {
  width: 270px;
  padding-top: 14px;
  padding-bottom: 18px;

  &:hover,
  &:focus {
    border-color: $layout-black;
    color: $layout-black;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $desktop-width) {
    width: 280px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 27px;
    width: 100%;
  }
}

.common-form__wrapper--checkbox {
  input {
    position: absolute;
    z-index: -100;
  }

  input:checked ~ .common-form__custom-box {
    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 13px;
      width: 5px;
      height: 7px;
      border-bottom: 1px solid $layout-white;
      border-right: 1px solid $layout-white;
      transform: rotate(45deg);
    }

    @media (max-width: $tablet-width) {
      &::after {
        left: 5px;
      }
    }
  }
}


.common-form--modal {
  .common-form__fieldset {
    flex-direction: column;

    input {
      width: 100%;
      padding-top: 13px;
      padding-left: 23px;

      &:invalid {
        box-shadow: none;
      }
    }

    textarea {
      padding-top: 13px;
      padding-left: 23px;

      &:invalid {
        box-shadow: none;
      }
    }
  }

  p {
    width: 380px;
    margin-bottom: 30px;
  }

  .common-form__button {
    width: 100%;
    margin-bottom: 30px;
  }

  .common-form__wrapper--checkbox {
    width: 100%;

    input:checked ~ .common-form__custom-box {
      &::after {
        left: 5px;
      }
    }
  }

  .common-form__custom-box {
    box-sizing: content-box;
    width: 330px;
    padding-left: 50px;

    &::before {
      left: 0;
    }
  }

  .common-form__sender {
    flex-direction: column-reverse;
  }

  .common-form__wrapper {
    margin-bottom: 32px;
  }

  .common-form__wrapper--textarea {
    margin-bottom: 27px;
  }
}
