.common-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 233px;

  @media (max-width: $desktop-width) {
    margin-bottom: 116px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 232px;
  }
}
