.footer-block {
  display: flex;
  position: relative;
  flex-direction: column;

  h2 {
    font-family: $extra-font;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $layout-light-black;
    margin: 0;
    margin-bottom: 25px;
  }

  p {
    margin: 0;
    font-family: $default-font;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: $layout-light-black;
    opacity: 0.5;

    width: 100%;
  }

  @media (max-width: $tablet-width) {
    margin-top: 30px;
    border-bottom: 1px solid rgba($layout-darker-grey, 0.2);
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 25px;

    h2 {
      margin-bottom: 35px;
    }
  }
}

.footer-block__link {
  text-decoration: none;
  font-family: $default-font;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: $layout-light-black;
  opacity: 0.5;
  width: max-content;

  &:hover,
  &:focus {
    color: $layout-blue;
  }

  &:active {
    text-decoration: underline;
  }
}

.footer-block__button {
  display: none;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 0;
    right: 17px;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: none;

    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 1px;
      left: 0;
      top: 7px;
      background-color: $dark-custom-grey;
    }

    &:hover,
    &:focus {
      &::before {
        background-color: $layout-blue;
      }
    }

    &:active {
      &::before {
        opacity: 0.5;
      }
    }
  }
}

.footer-block__button--show {
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    left: 8px;
    top: 0;
    background-color: $dark-custom-grey;
  }

  &:hover,
  &:focus {
    &::after {
      background-color: $layout-blue;
    }
  }

  &:active {
    &::after {
      opacity: 0.5;
    }
  }
}

.footer-block--hidde {
  padding-bottom: 0;

  *:nth-child(n+3) {
    display: none;
  }

  h2 {
    margin-bottom: 25px;
  }
}
