.goods {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $layout-light-black;
  padding-top: 87px;
  padding-bottom: 127px;

  h2 {
    margin: 0;
    margin-bottom: 52px;
    font-family: $extra-font;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: $layout-white;
  }

  /* @media (max-width: $tablet-width) {
    padding-top: 48px;
    padding-bottom: 78px;

    h2 {
      font-size: 32px;
      line-height: 45px;
      max-width: 613px;
      margin-bottom: 50px;
    }
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 66px;
    padding-top: 50px;

    h2 {
      max-width: none;
      font-size: 28px;
      line-height: 39px;
      padding-left: 7px;
      margin-bottom: 42px;
    }
  } */
  @media (max-width: $desktop-width) {
    padding-top: 48px;
    padding-bottom: 78px;

    h2 {
      font-size: 32px;
      line-height: 45px;
      max-width: 613px;
      margin-bottom: 50px;
    }
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 66px;
    padding-top: 50px;

    h2 {
      max-width: none;
      font-size: 28px;
      line-height: 39px;
      padding-left: 7px;
      margin-bottom: 42px;
    }
  }
}

.goods__wrapper {
  display: flex;
  flex-direction: column;
  width: 1170px;
  margin-left: 15px;
  margin-right: 15px;

  /* @media (max-width: $tablet-width) {
    margin-left: 25px;
    margin-right: 25px;
  }

  @media (max-width: $mobile-width-only) {
    margin-left: 15px;
    margin-right: 15px;
  } */
  @media (max-width: $desktop-width) {
    margin-left: 25px;
    margin-right: 25px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 15px;
    margin-right: 15px;
  }
}
