.goods-list {
  @include clear-lists-style;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-auto-rows: 256px;
    gap: 46px;
  }

  @media (max-width: $mobile-width-only) {
    gap: 30px;
  }
}

.goods-list__element {
  min-height: 620px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    min-height: auto;
    overflow: hidden;
  }
}

.goods-list__link {
  display: block;
  position: relative;
  height: 100%;

  & h3 {
    width: 170px;
    margin: 0;
    position: absolute;
    top: 53px;
    left: 43px;
    z-index: 1;
    font-family: $extra-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $layout-white;
  }

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.2;
  }

  &::after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 63px;
    height: 63px;
    background-color: $layout-blue;
    background-image: url("../../img/icon-arrow.svg");
    background-repeat: no-repeat;
    background-size: 6px 9px;
    background-position: 31px 27px;
  }

  &:hover,
  &:focus {
    & img {
      opacity: 0.5;
    }
  }

  &:active {
    & h3 {
      color: $layout-blue;
    }

    & img {
      opacity: 1;
    }
  }

  @media (max-width: $mobile-width-only) {
    & h3 {
      top: 23px;
      left: 35px;
    }
  }
}

.goods-list__link--product {
  @media (max-width: $tablet-width) {
    & img {
      width: 804px;
      height: 300px;
      max-width: none;
      object-fit: cover;
      object-position: -40px -140px;
    }
  }

  @media (max-width: $mobile-width-only) {
    & img {
      object-fit: cover;
      width: 326px;
      height: 300px;
      object-position: -80px -20px;
    }
  }
}

.goods-list__link--install {
  @media (max-width: $tablet-width) {
    & img {
      width: 1970px;
      height: 279px;
      max-width: none;
      object-fit: cover;
      object-position: -630px -520px;
    }
  }

  @media (max-width: $mobile-width-only) {
    & img {
      object-fit: cover;
      width: 793px;
      height: 279px;
      object-position: -250px -135px;
    }
  }
}

.goods-list__link--led {
  @media (max-width: $tablet-width) {
    & img {
      width: 1207px;
      height: 256px;
      max-width: none;
      object-fit: cover;
      object-position: -240px -480px;
    }
  }

  @media (max-width: $mobile-width-only) {
    & img {
      object-fit: cover;
      width: 486px;
      height: 256px;
      object-position: -100px -120px;
    }
  }
}
