.items-list {
  @include clear-lists-style;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content max-content;
  grid-template-rows: auto auto auto auto;

  @media (max-width: $desktop-width-exeption) {
    grid-auto-flow: initial;
  }

  @media (max-width: $desktop-width) {
    grid-auto-flow: initial;
    grid-template-columns: max-content;
    width: auto;
  }

  @media (max-width: $tablet-width) {
    padding-right: 25px;
    padding-left: 15px;
  }
}

.items-list__element {
  margin-right: 70px;
}

.items-list__link {
  display: block;
  text-decoration: none;
  font-family: $default-font;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: $layout-light-black;
  opacity: 0.5;
  width: max-content;

  &:hover,
  &:focus {
    color: $layout-blue;
  }

  &:active {
    text-decoration: underline;
  }
}
