.legal-info {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba($layout-darker-grey, 0.2);
  padding-top: 15px;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 0;
    border: none;
    /* flex-direction: column; */
  }
}

.legal-info__main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1420px;
  margin-left: 15px;
  margin-right: 15px;

  @media (max-width: $tablet-width) {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.legal-info__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 815px;
  flex-basis: 100%;

  & p {
    margin: 0;
    font-family: $default-font;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: rgba($color: $layout-light-black, $alpha: 0.5);
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    align-items: center;
  }
}

.legal-info__wrapper--additional {
  max-width: 460px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.legal-info__link {
  text-decoration: none;
  font-family: $default-font;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba($color: $layout-light-black, $alpha: 0.5);

  &:hover,
  &:focus {
    color: $layout-blue;
  }

  &:active {
    text-decoration: underline;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
