.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 202px;
  text-decoration: none;
  height: 52px;

  @media (max-width: $desktop-width) {
    margin-right: 5px;
  }

  @media (max-width: $tablet-width) {
    min-width: 38px;
    height: 38px;
  }

  img {
    width: 202px;
    height: 52px;

    @media (max-width: $tablet-width) {
      width: 38px;
      height: 38px;
    }
  }
}

.logo__text-wrapper {
  @media (max-width: $tablet-width) {
    display: none;
  }

  p {
    margin: 0;
    font-family: $extra-font;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: $layout-white;
  }

  p:last-of-type {
    margin: 0;
    font-family: $special-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $layout-light-grey;
  }
}

.logo--footer {
  min-width: 216px;

  img {
    width: 216px;
    height: 52px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 5px;

    img {
      width: 216px;
      height: 52px;
    }
  }
}

.logo__text-wrapper--footer {
  p {
    color: $layout-lighter-black;
  }

  p:last-of-type {
    color: $layout-light-grey;
  }

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.logo--modal {
  position: absolute;
  top: 25px;
  left: 25px;
}
