.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba($color: $layout-black, $alpha: 0.5);
  overflow-y: scroll;
}

.modal--close {
  display: none;
}

.modal__wrapper {
  position: relative;
  box-sizing: border-box;
  width: 490px;
  min-height: 605px;
  background-color: $layout-blue;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 140px; */
  margin-top: 136px;
  /* padding-top: 35px; */
  padding-top: 31px;
  /* padding-bottom: 35px; */
  padding-bottom: 0;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 101;

  h2 {
    margin: 0;
    /* margin-bottom: 20px; */
    margin-bottom: 13px;
    font-family: $extra-font;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: $layout-white;
  }
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 21px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 21px;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 9px;
    width: 1px;
    height: 23px;
    background-color: $layout-white;
    border-radius: 5px;
    transform: rotate(-45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: -2px;
    right: 9px;
    width: 1px;
    height: 23px;
    background-color: $layout-white;
    border-radius: 5px;
    transform: rotate(45deg);
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      background-color: $layout-lighter-black;
    }
  }

  &:active {
    &::before,
    &::after {
      opacity: 0.7;
    }
  }
}
