.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/bg-main@1x.png");
  background-repeat: no-repeat;
  background-position: -300px -20px;
  padding-top: 109px;
}
