.page-header {
  display: flex;
  justify-content: center;
  padding-top: 33px;
  padding-bottom: 92px;
  background-color: $layout-light-black;
  background-image: url("../img/bg-header@1x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 2dppx) {
    background-image: url("../img/bg-header@2x.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.page-header__wrapper {
  width: 1411px;
  margin-right: 5px;
  margin-left: 5px;

  @media (max-width: $tablet-width) {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }
}
