.page-header {
  display: flex;
  justify-content: center;
  padding-top: 33px;
  padding-bottom: 88px;
  background-color: $layout-light-black;
  background-image: url("../img/bg-header@1x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;

  @media (max-width: $desktop-width) {
    padding-bottom: 159px;
    padding-top: 20px;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 69px;
    padding-top: 16px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 2dppx) {
    background-image: url("../img/bg-header@2x.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.page-header__wrapper {
  width: 1411px;
  margin-right: 15px;
  margin-left: 15px;

  @media (max-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 15px;
    margin-right: 15px;
  }
}
