.promo {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;

  h1 {
    font-family: $extra-font;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $layout-white;
    margin: 0;
    margin-bottom: 28px;
    margin-left: -3px;
  }

  p {
    position: relative;
    width: 630px;
    padding-left: 94px;
    font-family: $default-font;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: $layout-white;
    margin: 0;
    margin-bottom: 40px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 17px;
      width: 66px;
      height: 2px;
      background-color: $layout-white;
    }
  }

  @media (max-width: $tablet-width) {
    align-self: center;

    h1 {
      font-size: 60px;
      line-height: 70px;
    }

    p {
      width: auto;
      font-size: 18px;
      line-height: 28px;
      padding-left: 48px;
      margin-bottom: 57px;

      &::before {
        width: 33px;
      }
    }
  }

  @media (max-width: $mobile-width-only) {
    h1 {
      font-size: 40px;
      line-height: 47px;
    }

    p {
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 40px;
    }
  }
}

.promo__info-wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    margin-left: 63px;
    flex-basis: 430px;
  }

  @media (max-width: $tablet-width-exception) {
    margin: 0;
    z-index: 1;
  }
}

.promo__button {
  box-sizing: border-box;
  width: 407px;
  padding-top: 17px;
  padding-bottom: 19px;
  text-decoration: none;
  background-color: $layout-blue;
  border-color: $layout-blue;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 93px;
  margin-left: 93px;

  @media (max-width: $tablet-width) {
    width: auto;
    margin: 0;
    margin-left: 48px;
  }

  @media (max-width: $tablet-width-exception) {
    margin: 0;
  }

  &:hover,
  &:focus {
    background-color: $layout-white;
    border-color: $layout-white;
    color: $layout-blue;
  }

  &:active {
    opacity: 0.7;
  }
}

.promo__special-link {
  display: block;
  width: 16px;
  text-decoration: none;
  font-family: $default-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $layout-white;
  opacity: 0.5;
  transform: rotate(-180deg);
  writing-mode: vertical-rl;

  @media (max-width: $tablet-width) {
    display: none;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.3;
  }
}

.promo__img-wrapper {
  width: 705px;
  height: 515px;
  position: absolute;
  left: 790px;
  top: -60px;
  background-image: url("../img/dotted-triangle@1x.png");
  background-repeat: no-repeat;
  background-position: -15px -140px;

  @media (min-resolution: 144dpi), (min-resolution: 2dppx) {
    background-image: url("../img/dotted-triangle@2x.png");
    background-repeat: no-repeat;
    background-size: 671px 641px;
    background-position: -15px -140px;
  }

  img {
    max-width: 705px;
    height: 515px;
    object-fit: cover;
  }

  @media (max-width: $tablet-width) {
    width: 465px;
    height: 340px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    left: 435px;
    top: -110px;

    img {
      max-width: 465px;
      height: 340px;
    }

    background-size: 529px 505px;
    background-position: -15px -120px;
  }

  @media (max-width: $mobile-width-only) {
    width: 301px;
    height: 220px;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 140px;
    left: 10px;
    top: -215px;

    img {
      max-width: 301px;
      height: 220px;
    }

    background-size: 505px 483px;
    background-position: 125px -110px;
  }
}

.promo__text-element {
  display: block;

  @media (max-width: $tablet-width-exception) {
    display: none;
  }
}

.promo__text-element--mobile {
  display: none;

  @media (max-width: $tablet-width-exception) {
    display: block;
  }
}
