.socials {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 55px;

  @media (max-width: $tablet-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 5px;
    padding-bottom: 25px;
    margin-bottom: 38px;
    justify-self: stretch;
    border-bottom: 1px solid rgba($layout-darker-grey, 0.2);
    gap: 10px;
  }

  @media (max-width: $mobile-width-only) {
    justify-content: center;
    padding-bottom: 45px;
    margin-bottom: 0;
    gap: 25px;
  }
}

.socials__links {
  display: flex;
}

.socials__link {
  text-decoration: none;
  margin-right: 15px;

  svg {
    fill: $layout-lighter-grey;
    width: 27px;
    height: 27px;
  }

  &:hover,
  &:focus {
    svg {
      fill: $layout-blue;
    }
  }

  &:active {
    svg {
      opacity: 0.7;
    }
  }
}

.socials__wrapper {
  display: none;

  p {
    margin: 0;
    font-family: $default-font;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: rgba($color: $layout-light-black, $alpha: 0.5);
  }

  @media (max-width: $tablet-width) {
    display: block;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 7px;
  }
}
