@import "normalize.scss";
@import "fonts.scss";
@import "variables.scss";
@import "mixin.scss";
@import "global.scss";
@import "blocks/page.scss";
@import "blocks/logo.scss";
@import "blocks/common-button.scss";
@import "blocks/page-body.scss";
@import "blocks/page-header.scss";
@import "blocks/common-info.scss";
@import "blocks/contact-info.scss";
@import "blocks/promo.scss";
@import "blocks/page-main.scss";
@import "blocks/advantages.scss";
@import "blocks/advantages-list.scss";
@import "blocks/about-us.scss";
@import "blocks/goods.scss";
@import "blocks/goods-list.scss";
@import "blocks/feedback.scss";
@import "blocks/common-form.scss";
