// Colors-layout
$layout-darker-white: #f2f2f2;
$layout-dark-white: #fafafa;
$layout-white: #ffffff;
$layout-black: #000000;
$layout-light-black: #1b2d37;
$layout-lighter-black: #203c42;
$layout-blue: #00b2ff;
$layout-darker-grey: #353735;
$layout-grey: #666666;
$layout-light-grey: #788891;
$layout-lighter-grey: #cdcdcd;

//My colors
$custom-grey: #ebebeb;

//Fonts
$default-font: "PT Mono", "Arial", sans-serif;
$extra-font: "Roboto Condensed", "Arial", sans-serif;
$special-font: "Roboto", "Arial", sans-serif;

// Viewports
$mobile-width-only: 320px;
$tablet-width-exception: 400px;
$tablet-width-grid-exception: 600px;
$tablet-width: 768px;
$desktop-width: 1024px;
